[run]branch = Trueomit = *venv*        */tests/*        *__init__*        */.idea/*        *tests.py[report]omit = *venv*        */tests/*        *__init__*        */.idea/*        *tests.py[html]directory = tests/htmlcov