[run]branch = Trueconcurrency = thread, multiprocessingparallel = Trueomit = *venv*        */tests/*        *__init__*        */.idea/*        *tests.py[report]omit = *venv*        */tests/*        *__init__*        */.idea/*        *tests.pyexclude_lines =    pragma: no cover    raise NotImplementedError    except Exception as e:    if TYPE_CHECKING:[html]directory = tests/htmlcov